<article class="listing">
  <img src="{{cliente.image}}" alt="">
  <h3>{{cliente.title}}</h3>
  <div class="detail owner">
    <span>Layout:</span> {{cliente.layout}}
  </div>
  <div class="detail type">
    <span>Responsivo:</span> {{cliente.responsivo}}
  </div>
  <div class="detail location">
    <span>Páginas Internas:</span> {{cliente.internas}}
  </div>
  <div class="detail bedrooms">
    <span>Site Entregue:</span> {{cliente.entregue}}
  </div>
</article>